<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emily Alert Message</title>
    <!--: include("bootstrap.html"){} -->
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>方法名</th>
                <th>类名</th>
                <th>返回类型</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>${methodName}</td>
                <td>${className}</td>
                <td>${returnType}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--: if(parameterNames.~size > 0) { -->
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>参数名</th>
                <th>参数类型</th>
                <th>参数值</th>
            </tr>
            </thead>
            <tbody>
            <!--: for(var i=0; i < parameterNames.~size; i++) { -->
            <tr>
                <td>${parameterNames[i]}</td>
                <td>${parameterTypes[i]}</td>
                <td>${parameterValues[i]}</td>
            </tr>
            <!--: } -->
            </tbody>
        </table>
    </div>
    <!--: } -->

    <div class="row">
        <pre>${stackTrace}</pre>
    </div>
</div>
</body>
