<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="PID">????</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="CONSOLE_LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{${LOG_LEVEL_PATTERN}} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
        <Property name="FILE_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN} ${sys:PID} --- [%t] %-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.camel.component" level="warn"/>
        <Logger name="org.apache.camel.impl.converter.DefaultTypeConverter" level="error"/>
        <Logger name="org.apache.camel.util" level="warn"/>
        <Logger name="org.apache.kafka" level="error"/>
        <Logger name="org.apache.zookeeper.ClientCnxn" level="warn"/>
        <Logger name="org.apache.zookeeper.ZooKeeper" level="warn"/>
        <Logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="error"/>
        <Logger name="org.hibernate.validator.internal.util.Version" level="warn"/>
        <Logger name="org.jboss.resteasy.plugins.spring.i18n" level="fatal"/>
        <Logger name="org.springframework.aop.framework.CglibAopProxy" level="warn"/>
        <Logger name="org.springframework.beans.factory.support" level="warn"/>
        <Logger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>
        <Logger name="org.springframework.boot.test" level="warn"/>
        <!--<Logger name="org.springframework.context.annotation.ConfigurationClassEnhancer" level="error"/>-->
        <Logger name="org.springframework.context.support" level="warn"/>
        <Logger name="org.springframework.test" level="warn"/>
        <Logger name="org.thymeleaf" level="warn"/>
        <Logger name="springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator" level="warn"/>
        <Logger name="springfox.documentation.schema.property.CachingModelPropertiesProvider" level="error"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
